@import '../../scss/_reference.scss';

.playing-cards {
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
    vertical-align: bottom;
    list-style: none;
    display: flex;

    &__card-item {
        width: 86px;
        height: 132px;
        margin-right: -40px;

        &:hover {
            margin-top: -10px;
            margin-right: -5px;
            box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.25);
            border-radius: 7px;
            z-index: 500;
            zoom: 1.05;
        }
    }
}

.game {
    &__container {
        border-top: 1px solid #000000;
        padding: 10px;
        margin-top: 150px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__players,
    &__spectators {
        width: 300px;
        padding: 10px;
        position: absolute;
        top: 10px;
        background-color: rgba(0, 0, 0, 0.75);
        color: #ffffff;
    }

    &__players {
        left: 10px;
    }

    &__spectators {
        right: 10px;
    }

    &__discard-pile {
        width: 86px;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: 5px;
    }

    &__stockpile {
        width: 86px;
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -91px;
    }

    &__color-suit-chooser {
        width: 500px;
        height: 350px;
        background-color: rgba(235, 235, 235, 0.85);
        box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: calc(-350px / 2);
        margin-left: calc(-500px / 2);
        padding: 10px;
        z-index: 1000;
    }

    &__color-suit-chooser-container {
        display: flex;
        justify-content: space-between;
    }

    &__player-hand {
        margin: 150px 310px;
    }

    &__button {
        &--start {
            width: 150px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -25px;
            margin-left: -50px;
            z-index: 900;
        }

        &--end-turn {
            width: 150px;
            height: 50px;
            margin-top: 15px;
            position: relative;
        }
    }
}

.connection-list {
    margin: 0;
    list-style: none;

    &__item {
        padding: 5px 0;
    }
}

.player-list {
    &__player {
        &--current {
            font-weight: 600;
        }
    }
}

.chat {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;

    &__container {
        width: 250px;
        height: 250px;
        border: 1px solid #000000;
    }

    &__messages {
        height: calc(100% - 35px);
        overflow-y: scroll;
        border-bottom: 1px solid #000000;
    }

    &__messages-list {
        list-style: none;
        margin: 0;
        padding: 5px;
    }

    &__new-message-container {
        height: 35px;
        padding: 5px;
    }

    &__new-message {
        width: calc(100% - 60px);
    }

    &__button {
        &--new-message {
            width: 60px;
        }
    }
}

.chat-message {
    &__name {
        font-weight: 600;
        margin-right: 5px;
    }
}