@import '../_reference';

/* stylelint-disable */
* {
    box-sizing: border-box;
}

html,
body {
    background: #ffffff;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

button,
input[type='submit'] {
    cursor: pointer;
}

/* stylelint-enable */